<h1>
  Face masks, other measures still key as WHO keeps emergency tag on COVID
</h1>
<br />
<p>
  MANILA, Philippines—The World Health Organization’s (WHO) verdict is in: The
  COVID-19 pandemic still presents a global health emergency. Following the 14th
  meeting of WHO’s International Health Regulations Emergency Committee, WHO
  Director General Tedros Adhanom Ghebreyesus concurred with recommendations
  that the COVID-19 pandemic still constitutes a public health emergency of
  international concern (PHEIC). The organization’s decision came three years
  after it first declared the disease as a PHEIC, noting that the COVID-19
  pandemic “may be approaching an inflection point.” “Achieving higher levels of
  population immunity globally, either through infection and/or vaccination, may
  limit the impact of SARS-CoV-2 on morbidity and mortality, but there is little
  doubt that this virus will remain a permanently established pathogen in humans
  and animals for the foreseeable future,” WHO said in a statement.
</p>
